<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Paysafe\Payment\Model\Adapter">
        <plugin name="forter_paysafe_adapter_plugin" type="Forter\Paysafe\Plugin\Adapter" />
    </type>
    <type name="Paysafe\Payment\Gateway\Http\Client\ClientMock">
        <plugin name="forter_paysafe_clientmock_plugin" type="Forter\Paysafe\Plugin\ClientMock" />
    </type>
</config>
